apiVersion: v1
kind: ConfigMap
metadata:
  name: cacao-config
data:
  # address for other services to use within the cluster
  api-internal-address: "{{ CACAO_API_ADDRESS | default('http://api') }}"

  # log level for services that can use internal
  log-level: "{{ CACAO_LOG_LEVEL | default('info') }}"

  api-auth-driver: "{{ CACAO_AUTH_DRIVER }}"
  api-token-cache-ttl: "{{ API_TOKEN_CACHE_TTL | default(7200) }}"

  api-simpletoken-username: "{{ SIMPLETOKEN_USERNAME | default('testuser') }}"
  api-simpletoken-token: "{{ SIMPLETOKEN_TOKEN | default('testpassword') }}"

  oauth2-client-id: "{{ OAUTH2_CLIENT_ID }}"
  oauth2-client-secret: "{{ OAUTH2_CLIENT_SECRET }}"
  oauth2-redirect-url: "{{ OAUTH2_API_CALLBACK_URL }}"
  required-identity-provider: "{{ API_REQUIRED_IDENTITY_PROVIDER }}"

  # nats related config for cacao
  nats.url: "{{ NATS_ADDRESS }}"

  # declare dev or non-dev environment, default is false if not set
  is-dev-environment: "{{ IS_DEV_ENVIRONMENT | default('false') }}"

  isession-guac-force-http: "{{ ISESSION_GUAC_FORCE_HTTP | default('false') }}"
  isession-guac-servers: '{{ ISESSION_GUAC_SERVERS | default("[]") }}'

  # public ssh key
  master-public-ssh-key: "{{ MASTER_PUBLIC_SSH_KEY | default("") }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: cacao-secrets
type: Opaque
data:
  # JS2Allocation Microservice
  tacc-api-user: "{{ TACC_API_USER | default('somekey')  | b64encode }}"
  tacc-api-pass: "{{ TACC_API_PASS | default('somevalue') | b64encode }}"

  # InteractiveSession Microservice
  isession-master-ssh-key: "{{ ISESSION_MASTER_SSH_KEY | default('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa=') | b64encode }}"
  isession-guac-encryption-key: "{{ ISESSION_GUAC_ENCRYPTION_KEY | default('this-is-some-guac-encryption-key') | b64encode }}"
  isession-guac-auth-key: "{{ ISESSION_GUAC_AUTH_KEY | default('some-auth-key') | b64encode }}"
  isession-vnc-default-password: "{{ ISESSION_VNC_DEFAULT_PASSWORD | default('some-password') | b64encode }}"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cacao-config
  namespace: cacao-logging
data:
  wiretap-log-dir: "{{ WIRETAP_LOG_DIR | default('/var/log/cacao-wiretap') }}"
  
  # nats related config for cacao
{% if NATS_ADDRESS_INTERNAL is defined %}
  nats.url: "{{ NATS_ADDRESS_INTERNAL }}"
{% else %}
  nats.url: "{{ NATS_ADDRESS }}"
{% endif %}
