---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    service: guac-lite
  name: guac-lite
  namespace: default
spec:
  serviceName: guac-lite
  replicas: 1
  selector:
    matchLabels:
      service: guac-lite
  template:
    metadata:
      labels:
        cacao.cyverse.org/app: cacao
        service: guac-lite
    spec:
      containers:
      - name: guac-lite
        image: registry.gitlab.com/cyverse/guac-lite-server:latest
        resources:
            requests:
              cpu: 100m
              memory: 50Mi
        env:
        - name: BASEURL
          value: /guacamole/
        - name: GUAC_LITE_AUTH_KEY
          valueFrom:
            secretKeyRef:
              name: cacao-secrets
              key: isession-guac-auth-key
        - name: GUAC_ENCRYPTION_KEY
          valueFrom:
            secretKeyRef:
              name: cacao-secrets
              key: isession-guac-encryption-key
        - name: SESSION_SECRET
          valueFrom:
            configMapKeyRef:
              name: ion-config
              key: session-secret
{% if CACAO_AUTH_DRIVER == "keycloak" %}
        - name: OAUTH_CLIENT_ID
          valueFrom:
            configMapKeyRef:
              name: ion-config
              key: ion-oauth2-client-id
        - name: OAUTH_CLIENT_SECRET
          valueFrom:
            configMapKeyRef:
              name: ion-config
              key: ion-oauth2-client-secret
        - name: OAUTH_VALIDATE_URL
          value: {{GUAC_LITE_OAUTH_VALIDATE_URL}}
{% elif CACAO_AUTH_DRIVER == "globus" %}
        - name: OAUTH_CLIENT_ID
          valueFrom:
            configMapKeyRef:
              name: ion-config
              key: ion-oauth2-client-id
        - name: OAUTH_CLIENT_SECRET
          valueFrom:
            configMapKeyRef:
              name: ion-config
              key: ion-oauth2-client-secret
        - name: OAUTH_VALIDATE_URL
          value: https://auth.globus.org/v2/oauth2/token/introspect
{% elif CACAO_AUTH_DRIVER == "cilogon" %}
        - name: OAUTH_CLIENT_ID
          valueFrom:
            configMapKeyRef:
              name: ion-config
              key: ion-oauth2-client-id
        - name: OAUTH_CLIENT_SECRET
          valueFrom:
            configMapKeyRef:
              name: ion-config
              key: ion-oauth2-client-secret
        - name: OAUTH_VALIDATE_URL
          value: https://cilogon.org/oauth2/introspect
{% else %}
        - name: OAUTH_CLIENT_ID # unknown CACAO_AUTH_DRIVER
          value: ""
        - name: OAUTH_CLIENT_SECRET
          value: ""
        - name: OAUTH_VALIDATE_URL
          value: ""
{% endif %}
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: LOG_LEVEL
          value: debug
        volumeMounts:
        - name: private # for storing ssh key pairs
          mountPath: /usr/src/app/private
      - name: guacd
        image: guacamole/guacd-dev@sha256:67b192929a69179db6729060b5be47e1d9e2fe51c010aa16979db17b19da18f2
        resources:
            requests:
              cpu: 200m
              memory: 100Mi
{% if LOCAL_PATH_PROVISIONER_ENABLE is defined and LOCAL_PATH_PROVISIONER_ENABLE|bool %}
      volumes:
        - name: private
          persistentVolumeClaim:
            claimName: guac-lite-local-path-pvc
{% else %}
      volumes:
      - name: private
        emptyDir: {}
{% endif %}
      automountServiceAccountToken: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 3000
        fsGroup: 2000
---
apiVersion: v1
kind: Service
metadata:
  labels:
    service: guac-lite
  name: guac-lite
  namespace: default
spec:
  ports:
  - name: http
    port: 80
    targetPort: 3000
  selector:
    service: guac-lite
