# pvc for ssh key pairs for guacamole-lite
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: guac-lite-local-path-pvc
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: {{ LOCAL_PATH_PROVISIONER_GUACAMOLE_SIZE }}
