apiVersion: v1
kind: ConfigMap
metadata:
  name: ion-config
data:
  theme: "{{ ION_THEME | default('cyverse') }}"
  session-secret: "{{ ION_SESSION_SECRET }}"
  ion-ui-base-url: "{{ ION_UI_BASE_URL }}"
  ion-ws-base-url: "{{ ION_WS_BASE_URL }}"
  ion-api-base-url: "{{ ION_API_BASE_URL }}"
{% if CACAO_AUTH_DRIVER == "cilogon" or CACAO_AUTH_DRIVER == "globus" or CACAO_AUTH_DRIVER == "keycloak" %}
  ion-auth-type: "{{CACAO_AUTH_DRIVER}}"
  ion-oauth2-client-id: "{{ OAUTH2_CLIENT_ID }}"
  ion-oauth2-client-secret: "{{ OAUTH2_CLIENT_SECRET }}"
{% endif %}
{% if CACAO_AUTH_DRIVER == "cilogon" %}
  ion-oauth2-callback-url: "{{ION_UI_BASE_URL}}//auth/access-ci/callback"
{% endif %}
