apiVersion: v1
kind: Service
metadata:
  labels:
    service: cacao-mongo
    app: cacao-mongo
  name: cacao-mongo
spec:
  ports:
  - port: 27017
    targetPort: 27017
  selector:
    service: cacao-mongo
status:
  loadBalancer: {}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    service: cacao-mongo
    app: cacao-mongo
  name: cacao-mongo
spec:
  replicas: 1
  selector:
    matchLabels:
      service: cacao-mongo
  strategy: {}
  template:
    metadata:
      labels:
        service: cacao-mongo
        app: cacao-mongo
    spec:
      containers:
      - image: mongo:{{ MONGODB_VERSION }}
        name: cacao-mongo
        ports:
        - containerPort: 27017
        resources: {}
      restartPolicy: Always
status: {}
