apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: stan-local-path-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: {{ LOCAL_PATH_PROVISIONER_NATS_SIZE }}