apiVersion: v1
kind: Service
metadata:
  labels:
    service: {{ VAULT_POSTGRES_CONFIG.host }}
    app: {{ VAULT_POSTGRES_CONFIG.host }}
  name: {{ VAULT_POSTGRES_CONFIG.host }}
spec:
  ports:
  - port: {{ VAULT_POSTGRES_CONFIG.port }}
    targetPort: {{ VAULT_POSTGRES_CONFIG.port }}
  selector:
    service: {{ VAULT_POSTGRES_CONFIG.host }}
status:
  loadBalancer: {}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    service: {{ VAULT_POSTGRES_CONFIG.host }}
    app: {{ VAULT_POSTGRES_CONFIG.host }}
  name: {{ VAULT_POSTGRES_CONFIG.host }}
spec:
  replicas: 1
  selector:
    matchLabels:
      service: {{ VAULT_POSTGRES_CONFIG.host }}
  strategy: {}
  template:
    metadata:
      labels:
        service: {{ VAULT_POSTGRES_CONFIG.host }}
        app: {{ VAULT_POSTGRES_CONFIG.host }}
    spec:
      containers:
      - image: postgres:latest
        name: {{ VAULT_POSTGRES_CONFIG.host }}
        ports:
        - containerPort: {{ VAULT_POSTGRES_CONFIG.port }}
        env:
        - name: POSTGRES_DB
          value: {{ VAULT_POSTGRES_CONFIG.db_name }}
        - name: POSTGRES_PASSWORD
          value: {{ VAULT_POSTGRES_CONFIG.password }}
        - name: POSTGRES_USER
          value: {{ VAULT_POSTGRES_CONFIG.username }}
        volumeMounts:
        - name: postgres-init
          mountPath: /docker-entrypoint-initdb.d
        resources: {}
      volumes:
      - name: postgres-init
        secret:
          secretName: postgres-init
      restartPolicy: Always
status: {}
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-init
type: Opaque
stringData:
  postgres-init.sh: |-
    #!/bin/bash
    set -e
    psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
        CREATE TABLE vault_kv_store (
            parent_path TEXT COLLATE "C" NOT NULL,
            path        TEXT COLLATE "C",
            key         TEXT COLLATE "C",
            value       BYTEA,
            CONSTRAINT pkey PRIMARY KEY (path, key)
        );
        CREATE INDEX parent_path_idx ON vault_kv_store (parent_path);
    EOSQL