# Default values for terraform-http-backend.

# API_DOMAIN is used for ingress
API_DOMAIN: {{ API_DOMAIN }}
TF_ENABLE_INGRESS: {{ TF_HTTP_BACKEND_ENABLE_INGRESS }}
TF_BACKEND_IMAGE_TAG: {{ TF_HTTP_BACKEND_IMAGE_TAG }}

# secret key (base64 encoded) used to verify JWT token in request header.
# generated if empty
TF_BACKEND_JWT_SECRET: {{ TF_HTTP_BACKEND_JWT_SECRET }}

#  postgres or sqlite
TF_STATE_STORAGE: {{ TF_HTTP_BACKEND_STATE_STORAGE }}

{% if TF_HTTP_BACKEND_STATE_STORAGE == "postgres" %}
TF_POSTGRES_CONTAINER: {{ TF_HTTP_BACKEND_POSTGRES_CONTAINER }}
# hostname for external postgres instance
TF_PSQL_HOST: {{ TF_HTTP_BACKEND_PSQL_HOST }}
# port for external postgres instance
TF_PSQL_PORT: {{ TF_HTTP_BACKEND_PSQL_PORT }}
TF_PSQL_DB: {{ TF_HTTP_BACKEND_PSQL_DB }}
TF_PSQL_USERNAME: {{ TF_HTTP_BACKEND_PSQL_USERNAME }}
# password for external or container postgres instance.
# generated if empty
TF_PSQL_PASSWORD: {{ TF_HTTP_BACKEND_PSQL_PASSWORD }}
{% endif %}

